@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");

.logo {
  font-family: "Bebas Neue";
  font-size: 2em;
}

.purpose {
  margin: auto;
  font-size: 3em;
  font-family: "Bebas Neue";
  /* margin: auto; */
  max-width: 75% !important;
  height: 20% !important;
}

.title-block {
  font-size: 10em;
  font-family: "Bebas Neue";
  min-height: "100vh" !important;
}
