@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");
@import url("https://fonts.googleapis.com/css?family=Nunito");
* {
  font-family: "Nunito";
  font-size: 16px;
}

.bold {
  font-weight: 900;
  font-size: 20px;
}

.logo {
  display: inline-block;
  margin: auto;
  max-width: 75% !important;
  /* height: 20% !important; */
}

.purpose {
  margin: auto;
  font-size: 3em;
  font-family: "Bebas Neue";
  /* margin: auto; */
  max-width: 75% !important;
  height: 20% !important;
}

.title-block {
  font-size: 10em;
  font-family: "Bebas Neue";
  min-height: "100vh" !important;
}

section {
  min-height: 100em;
}
