.background-shape-green {
  background-color: rgba(
    191,
    226,
    180,
    255
  ); /* Use rgba to set opacity for background */
  border-radius: 10px;
}

.background-shape-red {
  background-color: rgba(
    219,
    77,
    77,
    255
  ); /* Use rgba to set opacity for background */
  border-radius: 10px;
}

.background-shape-pink {
  background-color: rgba(
    245,
    193,
    193,
    255
  ); /* Use rgba to set opacity for background */
  border-radius: 10px;
}

.background-shape p {
  color: #000; /* Set text color to black */
  /* opacity: 1; Set text opacity to 100% */
}
